<%provide(:title , 'Comments') %>
<html id='homebackground'>
<link type="text/css" rel="stylesheet" href="homebackground.css" />
<ul class='hnav'>
  <li><a href="/home">Home</a></li>
  <li><a class='active' href="/home/comments">Comments</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Social Media</a>
    <div class="dropdown-content">
      <a href="https://www.facebook.com/profile.php?id=100008308512312">Facebook</a>
      <a href="https://www.instagram.com/justin_sungg/">Instagram</a>
    </div>
  </li>
</ul>

<br>
<br>
<br>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

